@page "/"
@using NavigationLockDemo.Helpers
<h3>Index</h3>

<p>Hello there!</p>

<p>This Blazor Server application is designed to let you try out <a href="/LocationChanging"><code>LocationChanging</code></a> and <a href="/NavigationLock"><code>NavigationLock</code></a> in an interactive way.</p>

<p>I've written <a href="@StaticStrings.BlogUrl">a blog post outlining how <code>LocationChanging</code> and <code>NavigationLock</code> work</a>, so check that out as well!</p>