@page "/OtherInternalPage"
<h3>Other Internal Page</h3>

<p>This page is only really here so that you've got somewhere to navigate to within the same Blazor application.</p>
<p>Feel free to <a href="/">go back to the index page</a> (I mean, you can stay a while if you really want, who am I to stop you).</p>